
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Profile</h1>
    <p><%= image_tag(avatar_url(@user), width:48) %></p>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Rating: <%= @user.rating %></p>
    <strong><p>All posts:</p></strong>
    <% unless @user_posts.present? %>
      <span>Posts not found</span>
    <% else %>
      <% @user_posts.each do |post| %>
        <p>
          <%= link_to post.title, post_path(post) %>
          <span><%= post.rate %></span>
        </p>
      <% end %>
    <% end %>
    <strong><p>All favorite posts:</p></strong>
    <% unless @favorite_posts.present? %>
      <span>Favorite posts not found</span>
    <% else %>
      <% @favorite_posts.each do |post| %>
        <p>
          <%= link_to post.title, post_path(post) %>
          <span><%= post.rate %></span>
        </p>
      <% end %>
    <% end %>
  </div>
</div>