<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Profile</h1>
    <p><%= image_tag(avatar_url(@user), width:48) %></p>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>Rating: <%= @user.rating %></p>
    <strong><p>All posts:</p></strong>
    <% unless @user_posts.present? %>
      <span>Posts not found</span>
    <% else %>
      <% @user_posts.each do |post| %>
        <p>
          <%= link_to post.title, post_path(post) %>
          <span><%= post.rate %></span>
        </p>
      <% end %>
    <% end %>
    <strong><p>All favorite posts:</p></strong>
    <% unless Favorite.where(user: @user).present? %>
      <span>Favorite posts not found</span>
    <% else %>
      <% Post.all.each do |post| %>
        <% Favorite.where(user: @user).all.each do |favorite| %>
          <% if favorite.post == post %>
            <p>
              <%= link_to post.title, post_path(post) %>
              <span><%= post.rate %></span>
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% count = 0 %>
    <% Post.all.each do |post| %>
      <% if post.rater.include?(@user.id) %>
        <% count +=1 %>
      <% end %>
    <% end %>
    <p>
      <strong>likes or dislike </strong><%= count %>
    </p>
  </div>
</div>


