<script type="text/javascript">
  $(function(){
    Post.init();
  });
</script>
<div class="container-fluid">
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-md-4">
        <h1>Listing Posts | <%= link_to 'New Post', new_post_path, class: "btn btn-default" %></h1>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <%= form_tag(posts_path, method: :get, :class => "navbar-form ", :role => "search" ) do %>
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-default navbar-btn" %>
        <% end %>
    </div>
  </div>
  <%= render partial: 'posts/posts', locals: { posts: @posts } %>
</div>