<% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
  <% end %>
<table class="table table-striped">
  <tbody>
    <tr>
      <td rowspan="2"><p><%= @post.user.name %></p>
        <p><%= image_tag(avatar_url(@post.user), width:48) %></p></td>
      <td><p><h4><ins><%= @post.title %></ins></h4></p>
        <%= image_tag(@post.image_url) %>
        <p><%= @post.body %></p>
      </td>
    <tr>
      <td>
        <div class="row">
          <div class="col-md-4">
            <span>tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%></span>  
            <h4>
              <div>
                <% if current_user %>
                  <% unless favorited?(@post) %>
                    <%= button_to action: 'add_to_favorite', post_id: @post.id do %>
                      <span class="glyphicon glyphicon-star-empty favorite"></span>
                    <% end %>
                  <% else %>
                    <%= button_to action: 'remove_from_favorite', post_id: @post.id do %>
                      <span class="glyphicon glyphicon-star favorite"></span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <%= link_to image_tag('like.png', width:25), like_post_path(@post)%>
              <span class='rate'><%= @post.rate %></span>
              <%= link_to image_tag('unlike.png', width:25), unlike_post_path(@post)%>
            </h4>
            <div class="col-md-4 col-md-offset-4">
              <%= link_to 'Back', posts_path, class: "btn btn-info" %>
              <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% if @post.comments.any? %>
    <h3>Comments</h3>
    <% @post.comments.each do |comment| %>
    <div class="comment">
      <p>
          <%= image_tag avatar_url(@post.user), width: '16px' %>
          <strong><%= comment.user.name %></strong>
        <span class="date">
          &nbsp; <%= comment.created_at.to_time.strftime('%m.%d.%Y at %H:%M') %>
        </span>
      </p>
      <p>
        <%= comment.body %>
      </p>
      <p>
        <%= link_to 'Destroy', [comment.post, comment],
                                method: :delete %>
      </p>
    </div>
  <% end %>
  <% else %>
    <h3>Comments are absent</h3>
  <% end %>
 <% if current_user %>
      <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="comment">
        <div class="field">
          <%= f.label 'Comment' %>
          <%= f.text_area :body %>
        </div>
        <div class="field">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  <% end %>